.component-callout {
  padding-bottom: 50px;
  border-bottom: 5px solid #282828;
}

<<<<<<< HEAD
.component-news__item h2 {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.component-news__item h2:hover {
  color: #67d9da !important;
  cursor: pointer;
}

.component-blog__item h5:hover {
  cursor: pointer;
}

.owl-carousel.owl-drag .owl-item {
  height: 615px;
}

.owl-carousel .owl-nav {
  max-width: 940px;
  text-align: right;
  margin: 0 auto;
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  transform: translateY(-60px);
}
.owl-carousel .owl-dots {
  -webkit-transform: translate(-50%, -90px);
  -moz-transform: translate(-50%, -90px);
  -ms-transform: translate(-50%, -90px);
  -o-transform: translate(-50%, -90px);
  transform: translate(-50%, -90px);
  display: inline-block;
  left: 50%;
  position: relative;
}
.owl-carousel .owl-dots .active span {
  background-color: #d90e0a !important;
}

.owl-theme .owl-nav [class*='owl-'] {
  height: 30px;
  background: transparent;
  position: relative;
  margin: 10px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: transparent;
}

.owl-next:before {
  position: absolute;
  content: "";
  background: #ffffff;
  height: 25px;
  width: 4px;
  right: 9px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.owl-next:after {
  position: absolute;
  content: "";
  background: #ffffff;
  height: 25px;
  width: 4px;
  right: 10px;
  top: -13px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.owl-next:hover:after, .owl-next:hover:before {
  background: red;
}

.owl-prev:before {
  position: absolute;
  content: "";
  background: #ffffff;
  height: 25px;
  width: 4px;
  left: 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.owl-prev:after {
  position: absolute;
  content: "";
  background: #ffffff;
  height: 25px;
  width: 4px;
  left: 0px;
  top: -13px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.owl-prev:hover:after, .owl-prev:hover:before {
  background: red;
}

.component-slider__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 615px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.component-slider__wrapper h2 {
  color: #d90e0a;
  font-size: 56px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 56px;
  margin-bottom: 15px;
}
.component-slider__wrapper p {
  color: #9f9f9f;
  font-size: 16px;
}
.component-slider__wrapper a {
  color: #d90e0a;
}

.component-slider__item {
  height: 100%;
}

.slider-position {
  max-width: 360px;
}

.slider-position__top {
  text-align: center;
  margin: 0 auto;
  transform: translateY(-70%);
}

.slider-position__middle {
  text-align: center;
  margin: 0 auto;
}

.slider-position__bottom {
  text-align: center;
  margin: 0 auto;
  transform: translateY(70%);
}

.slider-position__top-left {
  transform: translateY(0%);
}

.slider-position__bottom-left {
  transform: translateY(70%);
}

.slider-position__top-right {
  transform: translateY(-70%);
  float: right;
}

.slider-position__middle-right {
  float: right;
}

.slider-position__bottom-right {
  float: right;
  transform: translateY(70%);
}

@media (max-width: 1100px) {
  nav ul a {
    padding: 15px 8px 0px;
  }
}
@media (max-width: 992px) {
  nav {
    height: 120px;
  }

  nav .brand-logo {
    position: relative;
  }

  .component-twitter.right {
    float: none !important;
  }

  .component-twitter__content {
    position: relative;
    bottom: 0px;
    right: 0;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }

  section:first-of-type {
    padding: 0px 0;
    -webkit-transform: translateY(-120px) !important;
    -moz-transform: translateY(-120px) !important;
    -ms-transform: translateY(-120px) !important;
    -o-transform: translateY(-120px) !important;
    transform: translateY(-120px) !important;
    margin-bottom: -120px !important;
  }

  .component-slider__wrapper h2 {
    font-size: 30px;
    line-height: 30px;
  }
}
@media (max-width: 600px) {
  .component-callout__title h2 {
    font-size: 28px;
  }

  .component-blog__item .col.s12,
  .component-news__item .col.s12 {
    margin-bottom: 30px;
  }

  .component-blog__item:last-of-type .col.s12,
  .component-news__item:last-of-type .col.s12 {
    margin-bottom: 0;
  }
}
=======
>>>>>>> d3beb62c358baabf374d5f7dc0242039b0ba9b20
.white-text {
  color: #ffffff;
}

.secondary-color {
  color: #e34e33;
}

body {
  background: #1d1d1d;
  font-family: arial, san-serif;
}

section {
<<<<<<< HEAD
  padding: 30px 0;
}
section:first-of-type {
  padding: 0px 0;
  /*@include transform(translateY(-60px));*/
  margin-bottom: -60px;
=======
  padding: 50px 0 40px;
>>>>>>> d3beb62c358baabf374d5f7dc0242039b0ba9b20
}

.container {
  max-width: 940px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h2 {
  font-size: 33px;
  font-weight: bold;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

.cta-main {
  color: #e34e33;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cta-main:hover {
  color: #67d9da;
}

.component-header h4 {
  display: inline-block;
  margin-right: 10px;
}
