.component-callout {
  padding-bottom: 50px;
  border-bottom: 5px solid #282828;
}

.owl-carousel.owl-drag .owl-item {
  height: 70vh;
}

.owl-carousel .owl-nav {
  max-width: 940px;
  text-align: right;
  margin: 0 auto;
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  transform: translateY(-60px);
}
.owl-carousel .owl-dots {
  -webkit-transform: translate(-50%, -90px);
  -moz-transform: translate(-50%, -90px);
  -ms-transform: translate(-50%, -90px);
  -o-transform: translate(-50%, -90px);
  transform: translate(-50%, -90px);
  display: inline-block;
  left: 50%;
  position: relative;
}

.component-slider__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.component-slider__item {
  height: 100%;
}

.slider-position {
  max-width: 360px;
}

.slider-position__top {
  text-align: center;
  margin: 0 auto;
  transform: translateY(-70%);
}

.slider-position__middle {
  text-align: center;
  margin: 0 auto;
}

.slider-position__bottom {
  text-align: center;
  margin: 0 auto;
  transform: translateY(70%);
}

.slider-position__top-left {
  transform: translateY(-70%);
}

.slider-position__bottom-left {
  transform: translateY(70%);
}

.slider-position__top-right {
  transform: translateY(-70%);
  float: right;
}

.slider-position__middle-right {
  float: right;
}

.slider-position__bottom-right {
  float: right;
  transform: translateY(70%);
}

.white-text {
  color: #ffffff;
}

.secondary-color {
  color: #e34e33;
}

body {
  background: #1d1d1d;
  font-family: arial, san-serif;
}

section {
  padding: 30px 0;
}
section:first-of-type {
  padding: 0px 0;
}

.container {
  max-width: 940px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h2 {
  font-size: 33px;
  font-weight: bold;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cta-main {
  color: #e34e33;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cta-main:hover {
  color: #67d9da;
  cursor: pointer;
}

.component-header {
  border-bottom: 2px solid #282828;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.component-header h4 {
  color: #9f9f9f;
  display: inline-block;
  margin-right: 10px;
}
