@import 'bourbon/bourbon';
@import 'imports/variables';
@import 'imports/callout';



// Helpers 
.white-text {
	color: $white;
}
.secondary-color {
	color: $orange;
}

body {
	background: $black;
	font-family: arial, san-serif;
}

section {
	padding: 50px 0 40px;
}

.container {
	max-width: 940px;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h2 {
	font-size: 33px;
	font-weight: bold;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

.cta-main {
	color: $orange;
	@include transition(all 0.3s ease-in-out);
	&:hover {
		color: $lightblue;
	}
}

.component-header {
	h4 {
		display: inline-block;
		margin-right: 10px;
	}
}
