$black : #333;
$white : #ffffff;
$secondary : #e34e33;

// Helpers 
.white-text {
	color: $white;
}
.secondary-color {
	color: $secondary;
}

body {
	background: $black;
	font-family: arial, san-serif;
}
