@media (min-width: 1100px) {
    nav ul a {
        padding: 15px 15px 0;
    }
}
@media (min-width: 992px) {
    nav {
        height: 60px;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;

        .brand-logo {
            position: absolute;
            left: 0;
            @include transform(translateY(0));
        }
        .button-collapse {
            float: right;
            margin: 0;
            color: $lightgrey;
            i {
                font-size: 36px;

             }
        }
    }
    
    .component-callout__title,
    .component-news__item {
        h2 {
            font-size: 32px;
        }
    }
    
    .component-twitter__content {
        bottom: -20px;
        right: 0;
        width: 200px;
        float: right;
    }

    section {
        &:first-of-type {
            padding: 0px 0;
            @include transform(translateY(-60px)!important);
            margin-bottom: -80px!important;
        }
    }

    .component-slider__wrapper {
        h2 {
            font-size: 40px; 
            line-height: 40px;
        }
    }
}

@media (min-width: 600px) {
  .component-blog__item .col.s12,
  .component-news__item .col.s12 {
      margin-bottom: 0px;
  }
  .component-blog__item:last-of-type .col.s12,
  .component-news__item:last-of-type .col.s12 {
      margin-bottom: 0;
  }
}
