.owl-carousel.owl-drag .owl-item {
    height: 615px;
}

.owl-carousel {
  .owl-nav {
      max-width: 940px;
      text-align: right;
      margin: 0 auto;
      @include transform(translateY(-60px));
  }
  .owl-dots {
      @include transform(translate(-50%, -90px));
      display: inline-block;
      left: 50%;
      position: relative;

      .active {
          span {
            background-color: $red!important;
          }  
      }
  }
}
.owl-theme .owl-nav [class*='owl-'] {
    height: 30px;
    background: transparent;
    position: relative;
    margin: 10px; 

    &:hover {
        background: transparent;
    }
}
.owl-next {
    &:before {
        position: absolute;
        content: "";
        background: $white;
        height: 25px;
        width: 4px;
        right: 9px;
        @include transform(rotate(45deg));
        @include transition(0.3s ease-in-out);
   }
   &:after {
        position: absolute;
        content: "";
        background: $white;
        height: 25px;
        width: 4px;
        right: 10px;
        top: -13px;
        @include transform(rotate(135deg));
        @include transition(0.3s ease-in-out);
   }
   &:hover {
      &:after, &:before {
          background: red;
      }
   }
}
.owl-prev {
    &:before {
        position: absolute;
        content: "";
        background: $white;
        height: 25px;
        width: 4px;
        left: 0px;
        @include transform(rotate(-45deg));
        @include transition(0.3s ease-in-out);

   }
   &:after {
        position: absolute;
        content: "";
        background: $white;
        height: 25px;
        width: 4px;
        left: 0px;
        top: -13px;
        @include transform(rotate(-135deg));
        @include transition(0.3s ease-in-out);
   }

   &:hover {
      &:after, &:before {
          background: red;
      }
   }
}
.component-slider__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 615px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
        color: $red;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 40px;
        margin-bottom: 15px;

        &.header-blue {
            color: $blue;
        }
        &.header-red{
            color: $red;
        }

    }
    p {
        color: $lightgrey;
        font-size: 16px;
    }
    a { 
        &.link-blue {
            color: $blue;
        }
        &.link-red{
            color: $red;
        }
    }
}

.component-slider__item {
    height: 100%;
}

.slider-position {
    max-width: 400px;
}

.slider-position__top {
  text-align: center;
  margin: 0 auto;
  transform: translateY(-70%);
}
.slider-position__middle {
  text-align: center;
  margin: 0 auto;
}
.slider-position__bottom {
  text-align: center;
  margin: 0 auto;
  transform: translateY(70%);
}

.slider-position__top-left {
    transform: translateY(0%);
}
.slider-position__middle-left {

}
.slider-position__bottom-left {
    transform: translateY(70%);
}

.slider-position__top-right {
    transform: translateY(-30%);
    float: right;
}
.slider-position__middle-right {
    float: right;
}
.slider-position__bottom-right {
    float: right;
    transform: translateY(70%);
}