// variables.scss

$black: 	#1d1d1d;
$grey: 		#282828;
$darkgrey: 	#464646;
$lightgrey: #9f9f9f;
$lightblue:	#67d9da;
$blue: 		#2162bc;
$red:		#d90e0a;
$white: 	#ffffff;
$orange: 	#e34e33;
$lightblue: #67d9da;
